<nav class="navbar navbar-expand-sm navbar-dark ">
    <a class="navbar-brand" href="#">Noxe</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="tvShows">TvShows</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="people">People</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="about">About</a>
            </li>

        </ul>
        
        <ul class=" navbar-nav ms-auto mt-2 mt-lg-0">
            <div class="social-icons ">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram "></i>

                <i class="fab fa-youtube"></i>




            </div>
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
        </ul>
        
        
        <div class="">
           
        </div>
    </div>
</nav>